
*{
    margin: 3;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1920px;
    justify-content: center

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("/ASSETS/BG.png");
    animation-name: zoom;
    animation-duration: 50s;
    background-position: center;
  background-repeat: no-repeat;
}
@keyframes zoom
{
    from {background-size: 220%;}
    to{background-size: 300%;}
}


.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 35vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    color: #dceee5;
    font-size: 3vw;
}
.image{
    max-width: 30vw;
    width: 35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 424px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    background: linear-gradient(135deg, rgba(160, 154, 154, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.card-login > h1{
    color: #dceee5;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.textfield{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #424242;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #F0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #dceee5;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff0052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
    body{
        animation: none;
    }
}

@media only screen and (max-width: 1113px){
    body{
    animation: none;
    background-size: cover;

}

@media only screen and (max-width: 669px){
    body{
        animation: none;
        background-size: cover;
    }
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login > image{
        width: 50vw;
    }
}